@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #2664eb;
  --color-light-gray: #f5f5f7;
  --font-graphik: var(--font-graphik);
}

@layer base {
  h1 {
    @apply xl:text-[72px];
  }
  h2 {
    @apply text-[32px];
  }
}

@layer components {
  .custom-container {
    @apply max-w-[1440px] mx-auto;
  }
}

@layer utilities {
  .hero-h1-gradiant {
    @apply bg-gradient-to-l from-primary to-[#C92B95] bg-clip-text text-transparent;
  }
  .custom-container-padding {
    @apply xl:py-[100px] md:py-[50px] py-5;
  }
  .primary-button {
    @apply bg-primary text-white rounded-[200px] py-[15px] px-[30px] font-bold text-[20px] cursor-pointer;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
