@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-graphik: var(--font-graphik);
}

@layer base {
  h1 {
    @apply text-[32px] sm:text-[40px] md:text-[56px] lg:text-[72px] xl:text-[80px] font-bold leading-tight;
  }
  h2 {
    @apply text-[28px] sm:text-[32px] md:text-[40px] lg:text-[48px] xl:text-[56px] font-semibold leading-snug;
  }
  h3 {
    @apply text-[24px] sm:text-[28px] md:text-[32px] lg:text-[36px] xl:text-[40px] font-semibold;
  }
  h4 {
    @apply text-[20px] sm:text-[22px] md:text-[26px] lg:text-[30px] xl:text-[32px] font-medium;
  }
  h5 {
    @apply text-[18px] sm:text-[20px] md:text-[22px] lg:text-[24px] xl:text-[26px] font-medium;
  }
  h6 {
    @apply text-[16px] sm:text-[18px] md:text-[20px] lg:text-[22px] xl:text-[24px] font-medium;
  }
}

@layer components {
  .custom-container {
    @apply max-w-[1440px] mx-auto lg:px-20 md:px-10 px-5;
  }
}

@layer utilities {
  .hero-h1-gradiant {
    @apply bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 bg-clip-text text-transparent;
  }
  .custom-container-padding {
    @apply xl:py-[100px] md:py-[50px] py-5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
