@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-graphik: var(--font-graphik);
}

@layer base {
  h1 {
    @apply xl:text-[80px];
  }
  h2 {
    @apply text-[32px];
  }
}

@layer components {
  .custom-container {
    @apply max-w-[1440px] mx-auto;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
