@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #2664eb;
  --color-light-gray: #f5f5f7;
  --font-graphik: var(--font-graphik);
}

@layer base {
  h1 {
    @apply text-[24px] sm:text-[32px] md:text-[48px] lg:text-[64px] xl:text-[72px] font-bold leading-tight;
  }
  h2 {
    @apply text-[36px] sm:text-[40px] md:text-[48px] lg:text-[56px] xl:text-[64px] font-semibold leading-snug;
  }
  h3 {
    @apply text-[24px] sm:text-[28px] md:text-[32px] lg:text-[36px] xl:text-[40px] font-semibold;
  }
  h4 {
    @apply text-[20px] sm:text-[22px] md:text-[26px] lg:text-[30px] xl:text-[32px] font-medium;
  }
  h5 {
    @apply text-[20px] sm:text-[22px] md:text-[24px] lg:text-[26px] xl:text-[28px] font-medium;
  }
  h6 {
    @apply text-[16px] sm:text-[18px] md:text-[20px] lg:text-[22px] xl:text-[24px] font-medium;
  }
  p {
    @apply text-[14px] sm:text-[14px] md:text-[16px] lg:text-[18px] font-medium;
  }
}

@layer components {
  .custom-container {
    @apply max-w-[1440px] mx-auto lg:px-20 md:px-10 px-5;
  }
}

@layer utilities {
  .hero-h1-gradiant {
    @apply bg-gradient-to-l from-primary to-[#C92B95] bg-clip-text text-transparent;
  }
  .custom-container-padding {
    @apply xl:py-[100px] md:py-[50px] py-5;
  }
  .primary-button {
    @apply bg-primary text-white rounded-[200px] py-[15px] px-[30px] font-bold text-[20px] cursor-pointer;
  }
  .rounded-button {
    @apply bg-primary text-white rounded-full p-[15px] font-bold text-[20px] cursor-pointer;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
