@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-graphik: var(--font-graphik);
}

@layer base {
  h1 {
    @apply xl:text-[80px];
  }
  h2 {
    @apply text-[32px];
  }
}

@layer components {
  .custom-container {
    @apply max-w-[1440px] mx-auto;
  }
}

@layer utilities {
  .hero-h1-gradiant {
    @apply bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 bg-clip-text text-transparent;
  }
  .custom-container-padding {
    @apply xl:py-[100px] md:py-[50px] py-5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
